@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*
 font-family: 'Merriweather', serif;
font-family: 'Noto Sans KR', sans-serif; 
*/
/* 
#fdb6c5 rosa despacito
#333333 negrito
#faefe3 hueso
#bbbbbb gris
#e6889c rosa fuerte 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .body-background {
    background-color: #faefe3;
  }

  body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #e6889c;
    border-radius: 1em;
  }
/* INICIO HEADER */

.header-container{
    display: flex;
    flex-direction: column;
}

.icono-div{
    background-color: #fdb6c5;
}

.header ul li a:hover {
    color: #e6889c  ;
    box-shadow: 3px 3px 8px #e6889ccc;
    transform: translateY(-3%);
  }
  
  footer li a i:hover {
    color: #e6889c ;
    text-shadow: 3px 3px 13px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
  }
  
  .header .logo {
      height: 160px;
      width: 240px;
  }
  
  .nav-header {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .header ul li a {
    color: #fdb6c5 ;
    font-family: 'Merriweather', serif;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    border-radius: 10px;
  }
/* FIN HEADER */
/* INICIO MAIN */
.nosotras{
    background: linear-gradient(#faefe3 85%, #e6889c);
    display: flex;
    flex-direction: row;

}
.nosotras-img{
    height: 75vh;
    width: 45vw;
    margin-left: 50px;
}

.titulo-nosotras{
    font-family: 'Noto Sans KR', sans-serif; 
    margin-bottom: 40px;
}
.parrafo-nosotras{
    font-family: 'Merriweather', serif;
    font-size: 17px;
    text-align: justify;
    padding: 0 90px;
}

.servicios{
  background: linear-gradient(#e6889c 85%, #faefe3);
  font-family: 'Merriweather', serif;
    font-size: 17px;
}

.servicios ul li{
    list-style: none;
}

.servicios-titulo{
  font-family: 'Noto Sans KR', sans-serif; 
    margin-bottom: 20px;
}
.servicios-texto{
  font-family: 'Merriweather', serif;
    font-size: 17px;
    padding: 0 90px;
}


.main .button-index {
    font-size: 17px;
    border-radius: 10px;
    background-color: #fdb6c5;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.main .button-index a{
    text-decoration: none;
    color:#333333;
}

.main .button-index:hover {
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.5);
}


.ws-button{
    border-radius: 20px;
    border: 2px solid #faefe3;
    background-color: #1bd741 ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #faefe3;
    transition: all 0.3s ease;
}

.ws-button a{
    text-decoration: none;
    color: #faefe3;
}


/* Otros estilos y secciones aquí */


/* Otras secciones y estilos aquí */

/* Footer */
footer {
  background-color: #030303;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin-top: auto; /* Empuja el footer al final */
}





.section-white:hover {
  background-color: #f3cae5;
  color: #000000;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Your Custom Font', Arial, sans-serif;
  line-height: 1.6;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.6em;
 
}


/* Agregar transición y animación para la clase .section-colored */
.section-colored {
  background-color: #f3cae5;
  padding: 4em 0;
  text-align: center;
  color: #050505;
  position: relative;
  z-index: 1;
  margin-top: 1vh;
  
  /* Agregar animación */
  animation: slideInFromRight 4s ease-out forwards; /* 1s es la duración de la animación, ajusta según tus preferencias */
}

/* Definir la animación */
@keyframes slideInFromRight {
  0% {
      transform: translateX(-100%); /* Iniciar fuera del área visible hacia la derecha */
      opacity: 0; /* Comenzar con opacidad 0 */
  }
  100% {
      transform: translateX(0); /* Llegar a la posición original */
      opacity: 1; /* Al final de la animación, opacidad completa */
  }
}

/* Resto de los estilos para la sección section-colored */
.section-content {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Your Custom Font', Arial, sans-serif;
  line-height: 1.6;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.6em;
}





/* Agregar transición y animación para la clase .section-tercera */
.section-tercera {
  background-color: #d18bb1;
  padding: 4em 0;
  text-align: center;
  color: #050505;
  position: relative;
  z-index: 1;
  margin-top: 0vh;
  
  /* Agregar animación */
  animation: slideInFromLeft 5s ease-out forwards; /* 1s es la duración de la animación, ajusta según tus preferencias */
}

/* Definir la animación */
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%); /* Iniciar fuera del área visible hacia la izquierda */
      opacity: 0; /* Comenzar con opacidad 0 */
  }
  100% {
      transform: translateX(0); /* Llegar a la posición original */
      opacity: 1; /* Al final de la animación, opacidad completa */
  }
}

/* Estilos para el contenido de la sección tercera */
.section-terceracontent {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Your Custom Font', Arial, sans-serif;
  line-height: 1.6;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.6em;
}






/* Agregar transición y animación para la clase .section-cuarta */
.section-cuarta {
  background-color: #f17d92;
  padding: 4em 0;
  text-align: center;
  color: #050505;
  position: relative;
  z-index: 1;
  margin-top: 0vh;
  transform: translateY(-100%); /* Comienza fuera del área visible hacia arriba */
  opacity: 0; /* Comienza con opacidad 0 */
  animation: slideInFromTop 6s ease-out forwards; /* 1s es la duración de la animación, ajusta según tus preferencias */
}

/* Definir la animación */
@keyframes slideInFromTop {
  0% {
      transform: translateY(-100%); /* Iniciar fuera del área visible hacia arriba */
      opacity: 0; /* Comenzar con opacidad 0 */
  }
  100% {
      transform: translateY(0); /* Llegar a la posición original */
      opacity: 1; /* Al final de la animación, opacidad completa */
  }
}

/* Resto de los estilos para la sección section-cuarta */
.section-concuarta {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Your Custom Font', Arial, sans-serif;
  line-height: 1.6;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.6em;
}






/* Estilos para el botón de Instagram */
.instagram-button {
  text-align: center;
  margin-top: 1em;
}

.instagram-button a {
  display: inline-block;
  background-color: #E1306C;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 14px; /* Ajusta el valor de font-size para reducir el tamaño de la letra */
}

.instagram-button a:hover {
  background-color: #C41851;
}


.service-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.service-item {
  flex-basis: calc(33.33% - 1em);
  text-align: center;
  padding: 0 0.5em;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 8px; /* Ajusta el valor de padding para reducir el tamaño */
  background-color: #e1306c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px; /* Ajusta el tamaño de la letra del botón */
}

.contact-form button:hover {
  background-color: #c41851;
}


/* Media Queries para tamaños de pantalla */
@media (max-width: 768px) {
  /* Ajusta los estilos para pantallas más pequeñas aquí */
  .section-content {
      font-size: 1.2em; /* Ejemplo de ajuste de fuente */
  }
  
  /* Puedes agregar más ajustes aquí */
}


/* Estilos para la imagen del footer */
/* Estilos para el footer */
footer {
  background-color: #292a2c;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin-top: auto; /* Empuja el footer al final */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
  max-width: 800px;
  margin: 0 auto;
}

.contact-info {
  text-align: left;
}

.footer-image {
  text-align: right;
  flex-basis: 30%; /* Ajusta el ancho de la imagen */

  padding: 10px; /* Agrega un espacio de relleno alrededor de la imagen */
  box-sizing: border-box; /* Incluye el borde en el tamaño total del elemento */
}

.footer-image img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente */
}
p {
  font-size: 16px; /* Ajusta el tamaño de la letra según tus preferencias */
}
h1 {
  font-size: 30px; /* Ajusta el tamaño de la letra según tus preferencias */
  position: relative; /* Establecer posición relativa para crear una superposición */
  display: inline-block; /* Asegurar que el fondo blanco solo cubra el contenido del texto */
  padding: 0 10px; /* Añadir un poco de espacio alrededor del texto */
  background-color: white; /* Fondo blanco para el texto */
  z-index: 1; /* Asegurar que el texto esté sobre el fondo */
}






